/*
Rich black #0B2027
Raspberry #EF065B
Lavender blush #FFEEF2
Lavender (web) #EBEBFF
Emerald #06D6A0
Process Cyan #01BAEF
*/

html {
    scroll-behavior: smooth;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: url('/static/img/photos-background.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: #EBEBFF;
    text-shadow: 0 1px 30px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 1.5em;
    padding: 40vh;
}

.hero h1 {
    margin: 0;
    font-size: 4em;
}

main {
    position: relative;
    z-index: 2;
    padding-top: 100px;
}

main .content {
    padding-top: 50px;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5em;
    }
    .hero-content {
        padding: 20vh 20px;
    }
}

.inv-btn {
    text-decoration: none;
    color: #EBEBFF;
}

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: #EBEBFF;
}

main h1, h2, h3, h4, h5, h6, p {
    color: #EBEBFF;
}

.card-cover {
    background-size: cover;
    background-position: center;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0B2027;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.n5 {
    color: #EBEBFF;
    font-size: 3.5em;
    padding: 30px;
}

.game-button {
    display: block;
    position: relative;
    width: 100%;
    max-width: 350px;
    height: 250px;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.game-button img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 15px;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.game-button .button-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #EBEBFF;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 15px 15px;
    transition: background 0.3s ease;
}

.game-button:hover img {
    transform: scale(1.1);
}

.game-button:hover .button-overlay {
    background: rgba(0, 0, 0, 0.9);
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 15px rgba(235, 235, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 25px rgba(239, 6, 91, 1);
    }
    100% {
        box-shadow: 0 0 15px rgba(235, 235, 255, 0.5);
    }
}

.game-button {
    animation: glowing 3s infinite;
}

@media (max-width: 768px) {
    .game-button {
        max-width: 100%;
        height: auto;
    }
}

.flashcard {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    cursor: pointer;
}

.flashcard-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.flashcard-front,
.flashcard-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #EBEBFF;
    padding: 20px;
}

.flashcard-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flashcard-back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashcard-middle {
    font-size: 2em;
    color: #000;
}

.flashcard-bottom {
    font-size: 1em;
    color: #000;
}

.flashcard.flipped .flashcard-inner {
    transform: rotateY(180deg);
}

.custom-btn {
    padding: 0.75em 2.2em;
    border: 2px solid #0B2027;
    background-color: #EBEBFF;
    color: #000;
    border-radius: 8px;
    font-size: 1.25em;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}

.custom-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #EF065B, #EF065B);
    z-index: -1;
    transition: all 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.custom-btn:hover:before {
    transform: scaleX(1);
}

.custom-btn:hover {
    color: #EBEBFF;
    border-color: #EF065B;
}

.custom-btn:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
