<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {% block styles %}
        {{ bootstrap.load_css() }}
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/scrollbar.css">

    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-dark">
    <div id="progressbar"></div>
    <div id="scrollPath"></div>
    {% block content %}{% endblock %}
    {{ bootstrap.load_js() }}
    <script type="text/javascript">
        let progress = document.getElementById('progressbar')
        let totalHeight = document.body.scrollHeight - window.innerHeight;
        window.onscroll = function() {
            let progressHeight = (window.pageYOffset / totalHeight) * 100;
            progress.style.height = progressHeight + "%"
        }
    </script>
</body>
<footer>
    {% block footer %}{% endblock %}
</footer>
</html>
